/* -------------------------------------------------------------------------------------------------------- */

/* clear btn  */
.btn-round:hover {
  background-color: #1922d01a;
  color: var(--bg-primary);
}

